html{
    font-size: 70%;
    overflow-x: hidden;
    scroll-behavior: smooth;
 }
 
 html::-webkit-scrollbar{
    width: 2rem;
 }
 
 html::-webkit-scrollbar-track{
  background-color: #2d9ac24b;
 }
 
 html::-webkit-scrollbar-thumb{
    background-color:dodgerblue;
 }

.btn{
   margin-top: 1rem;
   display: inline-block;
   background:#073e61;
   color:#ddd;
   font-size: 2rem;
   cursor: pointer;/*Mouse over the words to change the mouse cursor.*/
   padding:1rem 3rem;
}

.btn:hover{
   letter-spacing: .1rem;
}

.header {
  overflow: hidden;
  background-color: #2d9ac24b;
  padding: 20px 30px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 15px;
}

.header a.logo {
  font-size: 30px;
  font-weight: bold;
  font-family:cursive;
  color: rgb(103, 66, 26);

}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

.home{
   background:rgba(147, 213, 235, 0.258);
}

.home .slide{
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .home .slide::before{
    content: ''; /*to specify the content to insert*/
    position: absolute;
    top:0; left:0;
    height: 100%;
    width: 100%;
    background:rgba(230, 215, 215, 0.116);
    z-index: -1;
 }
 
 .home .slide .content{
    text-align: center;
    width: 70rem;
 }
 
 .home .slide .content span{
    font-size: 2rem;
    font-family: cursive;
    font-weight:lighter;
    display: block;
    padding-bottom: .5rem;
    color:#ddd;
 }
 
 .home .slide .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#ddd;
    text-shadow: 0 .5rem 1rem rgba(100, 237, 250, 0.7);
    line-height: 1;
    padding:4rem 0;
 }
 .about{
   display: flex;
   align-items: center;
}

.about .image img{
   width: 100%;
}

.about .content{
   flex:1 1 41rem;
}

.about .content .title{
   font-size: 4rem;
   color:rgba(4, 96, 127, 0.829);
   font-family:cursive;
}

.about .content p{
   font-size: 1.7rem;
   color:black;
   padding:1rem 0;
   line-height: 2;
}

.about .content .icons-container{
   display: flex;
   flex-wrap: wrap; /*to show content in single-line or multi-line*/
   gap:2rem;
   margin-top: 3rem;
}

.about .content .icons-container .icons{
   flex:1 1 16rem;
   text-align: center;
   background:#2d9ac24b;
   padding:3rem 2rem;
}

.about .content .icons-container .icons img{
   height: 5rem;
}

.about .content .icons-container .icons h3{
   padding-top: 1rem;
   font-size: 2rem;
   font-weight: normal;
}
.food{
   text-align: center;
   background-color: #a5c9e065;
}
.footer-distributed{
    background: rgba(117, 184, 232, 0.666);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px ;
    padding: 55px 50px;
 }
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
}
 
 /* Footer left */
 
 .footer-distributed .footer-left{
    width: 40%;
 }
 
 /* The company logo */
 
 .footer-distributed h3{
    color:#073e61;
    font:40px cursive;
    font-weight: bold;
 }
 
 /* Footer links */
 
 .footer-distributed .footer-links{
    color:#073e61;
 }
 .footer-distributed .footer-links a{
    line-height: 2;
    font-weight:800;
    text-decoration: none;
    color:#073e61;
 }
 
 .footer-distributed .footer-company-name{
    color:#042235;
    font-size: 25px;
    font-weight: normal;
 }
 
 /* Footer Center */
 
 .footer-distributed .footer-center{
    width: 35%;
 }
 
 .footer-distributed .footer-center i{
    background-color:#17435f;
    color:#ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
 }
 
 .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
 }
 
 .footer-distributed .footer-center p{
    display: inline-block;
    color: #24527b;
   font-weight:800;
    vertical-align: middle;
 }

 .footer-distributed .footer-center p a{
    color:  rgb(10, 122, 183);
 }
 
 .footer-distributed .footer-links a:before {
   content: "|";
   font-weight:600;
   font-size: 20px;
   color: #fff;
 }
 /* Footer Right */
 
 .footer-distributed .footer-right{
    width: 20%;
 }
 
 .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #0486f8;
    font-size: 30px;
    font-weight:400;
 }
 .footer-distributed .footer-company-about span{
    display: block;
    color:  #17435f;
    font-size: 20px;
    font-weight: bold;
 }
 
 .footer-distributed .footer-icons{
    margin-top: 25px;
 }
 
 .footer-distributed .footer-icons a{
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:#17435f;
    border-radius: 2px;
 
    font-size: 20px;
    color: #ffffff;
    text-align: center;
 }
 